# Exploratory Analysis of Student Performance in Exams

Author: Nicolette Johnson

Date: November 5, 2019

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

Let's import, clean, and check the data for missing values.

In [5]:
# Import raw data
rawdata = pd.read_csv("data/StudentsPerformance.csv")

### Cleaning the Data

According to the dataset's [page](https://www.kaggle.com/spscientist/students-performance-in-exams) on Kaggle, there is no indication of missing value codes (e.g., -9999 or anything similar).

I will just run a simple check to see if there are any missing values:

In [11]:
rawdata.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

As indicated above, each of the columns in our rawdata dataframe contain 0 missing values. We can now start looking into the data.

In [18]:
# Get a feel for the data
rawdata.info()
print(rawdata.head(10))
rawdata.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 8 columns]

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Overall, we can see that the data is very neat and straightforward. Among the 8 variables, 5 are categorical and 3 are numerical.